<div class="container-fluid">
  <div class="row align-items-center home-page-header font-monserat white-color"
       style="max-height: 69px; font-size: calc(0.7vh + 0.7vw)">
    <div class="col-5" style=" margin-left: 6.68%">
      <div style="background-image: url('assets/headeremblem.svg'); height: 69px; background-repeat: no-repeat;"></div>
    </div>
    <div class="col-1">
      Курсы
    </div>

    <div class="col-1 ">
      Игры
    </div>

    <div class="col-1">
      Планер
    </div>

    <div class="col-1">
      Задачи
    </div>

    <div class="col-1">
      Статьи
    </div>

    <div class="col-1">
      <button mat-icon-button style="margin-left: 34%" (click)="login()">
        <mat-icon style="font-size: 1.5vw">login</mat-icon>
      </button>
    </div>
  </div>

  <div class="row align-items-center font-monserat"
       style="
       height: 58px;
       border: 1px solid #B8B8B8;
       box-sizing: border-box;
       box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
      font-size: 0.96vw">
    <div class="col-6  yourlang" style="margin-left: 4%">
      <div style="margin-left: 5%">
        Поможем подобрать для тебя язык программирования!
      </div>
    </div>
    <div class="col-1">
      О нас
    </div>
    <div class="col-1">
      Форум
    </div>
    <div class="col-1">
      Отзывы
    </div>
    <div class="col-1">
      Помощь
    </div>
    <div class="col-1">
      <div class="btn" (click)="register()">
        Зарегистрироваться
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="main-image" style="background-image: url('assets/illustraciya.svg');
       background-repeat: no-repeat;
       background-size: cover;
        width: 43.6vw;
        height: 40vw;
        margin-top: 2.8%">
      </div>
    </div>

    <div class="abs-i" style="background-image: url('assets/ep_h.svg'); background-repeat: no-repeat"></div>
    <div class="abs-t">
      Ты хочешь начать изучать язык программирования, но их слишком много - знакомая проблема каждого начинающего
      программиста.
    </div>

    <div class="col-2"></div>
    <div class="col-4" style="background: linear-gradient(179.67deg, #4193BE 61.89%, #353535 99.73%);
border-radius: 1px;">

    </div>
  </div>
</div>
