/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.home-page-header{
  height: 69px;
  background-color: #353535;
}
.white-color{
  color: white;
}
.h-100{
  height: 100%;
}
.font-monserat{
  font-family: 'Montserrat', sans-serif;
}
